<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>envelope</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Tap here to let us know.</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>🥹 Something wrong?</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.lil.nft-folder.feedback</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
