body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

iframe {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 50%;
  }
}

.grid {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.item {
  width: calc(20% - 2rem);
  aspect-ratio: 0.888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #404040;
  color: #999999;
  border: 0.2rem solid #999999;
  box-sizing: border-box;
}

.item:focus {
  background-color: #cf0652;
  color: white;
  border: 0.2rem solid white;
}

.item:active {
  color: rgba(10, 10, 10, 0.5);
}

.active {
  color: rgba(10, 10, 10, 0.5) !important;
}

.clicked {
  color: white;
  font-weight: bold;
}

.input_key_event > p {
  margin: 1rem;
}

::-webkit-scrollbar {
  width: 2.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem#cf0652;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #cf0652;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(207, 6, 82, 0.5);
}
