<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>nft-folder</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nft-folder</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>⊕ Mint</string>
			</dict>
			<key>NSMessage</key>
			<string>rightClickMint</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>com.compuserve.gif</string>
				<string>public.tiff</string>
				<string>com.microsoft.bmp</string>
				<string>com.microsoft.ico</string>
				<string>public.camera-raw-image</string>
				<string>com.adobe.photoshop-image</string>
				<string>public.svg-image</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>com.adobe.pdf</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>com.google.webp</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
